$clr-white: #fff;
$clr-black: #000;

$clr-gray-0: #0a0a0c;
$clr-gray-1: #0f0f13;
$clr-gray-2: #12161b;
$clr-gray-3: #363b3f;
$clr-gray-4: #6f7880;
$clr-gray-5: #aaaaaa;
$clr-gray-6: #b9b9b9;
$clr-gray-7: #cacaca;
$clr-gray-8: #dbdbdb;
$clr-gray-9: #f1f1f1;

$clr-blue: #9cb7fd;
$clr-pink: #ff5a83;

$clr-primary: $clr-pink;
$clr-secondary: $clr-gray-4;
$clr-ternary: $clr-blue;

$body-clr: $clr-white;
$body-bg: $clr-black;
