@use "colors" as *;

/* 
FONTS
*/

$font-size-default: 1.6rem;
$font-size-sm: 1.4rem;

$font-weight-regular: 400;
$font-weight-header: 500;

/* 
BORDERS
*/

$border: 1px solid $clr-white;
$radius: 0.6rem;
$radius-rounded: 9999px;

/* 
TRANSITIONS
*/

$transition-duration: 200ms;
$transition: all $transition-duration;

/* 
SHADOWS
*/

$shadow-md: 0 10px 15px rgba($clr-black, 0.3);
$shadow-bg: 0 10px 15px rgba($clr-black, 0.5);

/* 
ICONS
*/

$icon-size-sm: 1.6rem;
$icon-size: 2rem;
$icon-size-lg: 2.5rem;
