@use "styles/config" as *;

@keyframes timeout {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.alert {
  position: fixed;
  background-color: rgb(241, 100, 100);
  width: 95%;
  max-width: 30rem;
  border-radius: $radius;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: $shadow-bg;
  transition: $transition;
  overflow: hidden;
}
.header {
  text-align: end;
}
.header,
.body {
  padding: 0.5rem 1rem;
}
.progress {
  width: 100%;
  height: 3px;
  position: relative;
  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $clr-white;
    transition: $transition;
    animation: timeout 10s linear;
    animation-fill-mode: forwards;
  }
}
