@use "styles/config" as *;

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 0.5rem;

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  @include respond(md) {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
  @include respond(lg) {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
}
