@use "styles/config" as *;

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 1.6rem;

  @include respond(lg) {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}
